.clients-title {
  padding-top: 94px;
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.clients-logo {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 94px;
  &__item:not(:last-child) {
    margin-right: 40px;
  }
  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 92px;

    border: 1px solid #afb1b8;
    color: #afb1b8;
    border-radius: 4px;
    transition: border 250ms $time-function, color 250ms $time-function;

    // width: 170px;
  }
  &__link:hover,
  &__link:focus {
    border: 1px solid $accent-color;
    color: $accent-color;
  }
  &__icon {
    margin: 0 auto;
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
