.header {
  border-bottom: 1px solid #ececec;
  position: relative;
}
.main-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.logo {
  margin-top: 24px;
  margin-bottom: 24px;
  color: $primary-text-color;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  &__accent {
    color: $accent-color;
  }
}
.menu {
  display: inline-flex;
  align-items: center;
  background-color: #fff;
  margin: 0;
  padding: 0;
  border: none;
  border-color: transparent;
  cursor: pointer;
  @media screen and (min-width: $tablet) {
    display: none;
  }
  &__icon {
    width: 40px;
    height: 40px;
  }
}
.menu .js-close-menu {
  display: none;
}
.menu.is-open .js-close-menu {
  display: block;
}
.menu.is-open .js-open-menu {
  display: none;
}
.icon-menu {
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.mobile-menu {
  background-color: #fff;
  &.is-open {
    display: block;
  }
  @media screen and (max-width: 767px) {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

.navigation {
  @media screen and (min-width: $tablet) {
    display: flex;
    margin-left: 93px;
  }
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: $primary-text-color;
    font-weight: 500;
    font-size: 38px;
    line-height: 1.14;
    transition: color 250ms $time-function;
    @media screen and (min-width: $tablet) {
      font-size: 14px;
    }
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
  &__link--current {
    color: $accent-color;
    @media screen and (min-width: $tablet) {
      color: $accent-color;
      position: relative;
    }
    &::after {
      @media screen and (min-width: $tablet) {
        content: "";
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        height: 4px;
        background-color: $accent-color;
        border-radius: 2px;
      }
    }
  }
}

.address-header {
  display: flex;
  margin-left: auto;
  &__item:not(:last-child) {
    margin-right: 50px;
  }
  &__link {
    display: flex;
    align-items: center;
    color: $secondary-text-color;
    transition: color 250ms $time-function;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
.envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
