.occupation {
  display: none;
}
.occupation-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.occupation-exemple {
  // display: flex;
  // padding-left: 0;
  // padding-bottom: 94px;
  &__item {
    position: relative;
  }
  &__item:not(last-child) {
    margin-right: 30px;
  }
  &__icon {
    display: block;
  }
  &__text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: $primary-white-color;
  }
}
